<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>CRM</title>
</head>
<style>
    .btn2{
        background-color: green;
        color: #fff;
        border: 0;
        border-radius: 5px;
        font-weight: bold;
        margin-left: 10px;
        cursor: pointer;
        width: 80px;
        height: 40px;


    } 
    .btn2:hover{
        box-shadow: 0 0 5px black;

    } 
    .btn1 {
        background-color: #bdbaba;
        color: black;
        border: none;
        border-radius: 5px;
        font-weight: bold;
        cursor: pointer;
        width: 80px;
        height: 40px;

    }
    .btn1:hover{
        box-shadow: 0 0 5px black;

    }
    input,select{
        height: 40px;
    } 
    #main{
        background-color: #bbbcbb;
        padding: 20px;
    }          
   
</style>

<body>
    <div class=" text-white p-3 d-flex justify-content-between align-items-center" id="main">
        <h2 class="m-0" style="color: green;">New Product</h1>
    <a href="{% url 'search' %}"><button class="btn btn-lg">x</button></a>
    </div>
    <div class="container mt-4">
    <form action="new-product" method="POST">
        {% csrf_token %}
        <div class="row align-items-end">
            <div class="col-md-3">
                <label for="productName" class="form-label">Product Name</label>
                <input type="text" id="productName" class="form-control form-control-sm" placeholder="Enter product name" name="Product" value="{{instance.proname}}">
            </div>
            <div class="col-md-2">
                <label for="productPrice" class="form-label">Price</label>
                <input type="text" id="productPrice" class="form-control form-control-sm" placeholder="Enter product Price" name="Price" value="{{instance.proprice}}">
            </div>
            <div class="col-md-3">
                <label for="productType" class="form-label">Type</label>
                <select id="productType" class="form-select form-select-sm" aria-label="Product Type" name="Type">
                    <option value="" selected disabled>-Select a Type-</option>
                    <option value="Online" {% if instance.protype == 'Online' %}selected{% endif %}>Online</option>
                    <option value="Offline" {% if instance.protype == 'Offline' %}selected{% endif %}>Offline</option>
                    <option value="both" {% if instance.protype == 'both' %}selected{% endif %}>Both</option>
                    <option value="Website+Digital Marketing" {% if instance.protype == 'Website+Digital Marketing' %}selected{% endif %}>Website+Digital Marketing</option>
                </select>
            </div>
            <div class="col-md-2">
                <label for="Packages" class="form-label">Packages</label>
                <select id="Packages" class="form-select form-select-sm" aria-label="Packages" name="Packages">
                    <option value="" selected disabled>-Select Your Package-</option>
                    <option value="Online" >nil</option>
                    <option value="Offline" >enter</option>
                    <option value="both"></option>
                    <option value="Website+Digital Marketing">Website+Digital Marketing</option>
                </select>
            </div>
  
        <div class="col-md-1">
            <button type="submit" class="btn2">Save</button>
        </div>
        <div class="col-md-1">
            <button type="reset" class="btn1">Reset</button>
        </div>
    </form>
    </div>
</div>

    <div class="mb-5"></div>
    <hr>
        <div class="table-responsive">
            <table class="table table-bordered w-100 " style="margin: 20px; ">
                <thead class="" >
                    <tr class="text-center">
                        <th class="col-1">SL NO</th>
                        <th class="col-3">Prodect Name</th>
                        <th class="col-2">Software Type</th>
                        <th class="col-2">Price</th>
                        <th class="col-1"><i class="fa-solid fa-trash"></i></th>
                        <th class="col-1"><i class="fa-regular fa-pen-to-square"></i></th>
                    </tr>
                </thead>
             
                <tbody >
                    {% for i in show %}
                    <tr class="text-center" >
                        <td>{{forloop.counter}}</td>
                        <td>{{i.proname}}</td>
                        <td>{{i.protype}}</td>
                        <td>{{i.proprice}}</td>
                        <td class="col-1">
                            <a href="{% url 'delete' id=i.id %}"><button type="button" class="btn">
                                <i class="fa-solid fa-trash"></i>
                            </button></a>
                        </td>
                        <td class="">
                            <a href="{% url 'update' id=i.id %}"><button type="button" class="btn">
                                <i class="fa-regular fa-pen-to-square"></i>
                            </button></a>
                        </td>                    
                    </tr>
                    {% endfor %}
                </tbody>
                
            </table>
        </div>



        

        
        

        <!-- popup -->
     
</body>
</html>